
mat-card{
    width:100%;
  }

  mat-card-header{
    text-align: center;
    color: #54c1c1;
    margin-left: 25%;
  }

  mat-card-content{
    position: relative;
    margin-top: 5%;
    text-align: center;
  }

  .input{
    margin-top: 7%;
    width:80%;
    height: 60px;
    border-radius: 10px;
    border:1px;
    box-shadow: 1px 8px 8px 0px rgba(0 ,0 ,0 ,0.08);
    --highlight-height: 0px;
    --padding-top: 20px;
    --padding-bottom: 15px;
    --padding-start: 5px;

    }

  #but{
    width:75%;
    margin-top: 7%;
    height: 45px;
    border: solid 2px #54c1c1;
    background-color: #fff;
    color:#54c1c1;
    font-size: 16px;
    margin-bottom: 15%;
  }

