<form [formGroup]="forfaitForm" (ngSubmit)="onFormSubmit()" class="form-group">
  <h1>Saisir un nouvel Offre</h1>

  <div class="row" >
    Type de l'offre : <select formControlName="typeForfait" class="form-control" class="input" (change)="changeState($event)">
      <option selected value="">Choisissez le type</option>
      <option *ngFor="let types of listeType">{{types}} </option>
    </select>
  </div>

  <div class="row">

    <label for="nom"> Nom de l'offre : </label>
    <input class="input" formControlName="nomForfait" placeholder="Ex : (Offre milay)">
  </div>

  <div class="row">
    <label for="nom"> Prix de l'offre : </label>
    <input class="input" formControlName="prixForfait" type="number" placeholder="En Ariary">
  </div>

  <div class="row">
    <label for="duree"> Duree : </label>
  <input class="input" formControlName="dureeForfait" type="number" placeholder="En jours">
  </div>

  <div class="row">
    <label for="valeurAppel"> Valeur d'appel </label>
    <input class="input" formControlName="valeurAppel" placeholder="En minutes ou Ariary">
  </div>

  <div class="row">
    <label for="modeAppel"> Mode d'Appel : </label>
     <select formControlName="modeAppel" class="form-control"  class="input" placeholder="Choisissez le Mode de tarif d'appel">
      <option selected value="">Choisissez le mode</option>
      <option *ngFor="let mode of listeMode">{{mode}}</option>
    </select>
  </div>

  <div class="row">
    <label for="nom"> Volume mega : </label>
    <input class="input" formControlName="volumeMega" type="number" placeholder="Volume de Mo">
  </div>

  <div class="row">
    <label for="nom"> Nombre de message : </label>
    <input class="input" formControlName="nbSms" type="number" placeholder="Entrer le nombre de message">
  </div>

  <div class="row">
    <button id="but" type="submit" >Valider</button>
  </div>

</form>

<form [formGroup]="consoForm" (ngSubmit)="onConsoSubmit()" class="form-group">

    <h1>Consommmation</h1>
    <div class="row">
      <label for="nom"> Appel : </label>
      <input class="input" formControlName="valeurAppel" type="number" placeholder="Appel">
    </div>

    <div class="row">
      <label for="nom"> Appel autre operateur: </label>
      <input class="input" formControlName="valeurAutre" type="number" placeholder="Autre Operateur">
    </div>
    <div class="row">
      <button id="but" type="submit">Valider</button>
    </div>

</form>


