<form [formGroup]="mandoForm" (ngSubmit)="onFormSubmit()" class="form-group">
  <h1>insertion nouveaux offres</h1>
  <div class="row" >
    Type d'offre : <select formControlName="type" class="form-control" class="input"(change)="changeState($event)">
      <option disabled>Select Type</option>
      <option *ngFor="let types of listeType">{{types}} </option>
    </select>
  </div>
  <div class="row">
    Nom : <input class="input" formControlName="name" placeholder="Enter Name">
  </div>
  <div>
    Mode : <select formControlName="mode" class="form-control"  class="input" placeholder="Choose Mode">
      <option *ngFor="let mode of listeMode">{{mode}}</option>
    </select>
  </div>
  <div class="row">
    Prix : <input class="input" formControlName="prix" placeholder="Prix">
  </div>
  <div class="row">
    duree : <input class="input" formControlName="duree" placeholder="duree">
  </div>
  <h1>details des offres</h1>
  <div class="row">
    Nom : <input class="input" formControlName="name" placeholder="Enter Name">
  </div>
  </form>

  <div class="row">
    <a routerLink="/offer"><button id="but">Insert new detail</button></a>
  </div>

