  .input{
    margin-bottom: 4px;
    width:20%;
    height: 50px;
    border-radius: 10px;
    border:1px;
    box-shadow: 1px 8px 8px 0px rgba(0 ,0 ,0 ,0.08);
    --highlight-height: 0px;
    --padding-top: 20px;
    --padding-bottom: 15px;
    --padding-start: 5px;

    }

  #but{
    width:75px;
    margin-top: 7px;
    height: 40px;
    border: solid 2px #54c1c1;
    background-color: #fff;
    color:#54c1c1;
    font-size: 16px;
    margin-bottom: 15px;
  }

